.educacion{
    height: 40px;
    align-items: center;
    background-color: brown;
}
.educacion
.iconoeditar{
float: right;
margin-right: 2%;
}

.item{
    min-height: 200px;
    background-color: aquamarine;
}

.urlimagen
{
    min-height: 200px;
    width: 30%;
    background-color: blue;
    display: flex;
    align-items: center;
}

.urlimagen
img{
    max-height: 90%;
    max-width: 90%;
    margin-right: 5%;
}
.informacioneducacion{
    min-height: 200px;
    position: relative;
    float: right;
    height: 100%;
    background-color: chocolate;
    width: 70%;
    padding-top: 2%;
    
}
.contenido{
    background-color: chartreuse;
    margin: 0% 1% 1% 2%;
}

.nombre{
    float: left;
    width: 77%;
    background-color: blueviolet;
}
button{
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}

label{
    min-width: 140px;
}
input{
width: 100%;
}