<div class="proyectos">
    <div style="float:left">
        <h2>Proyectos</h2>
    </div>
    <div class="iconoeditar" *ngIf="UsuarioLogueado() && !verAgregarProyecto">
        <button (click)="VerAgregarProyecto()">
            <fa-icon [icon]="agregarIcono"></fa-icon>
        </button>
    </div>
</div>
<form class="add-form" [formGroup]="formNuevo" (ngSubmit)="AgregarProyecto()" *ngIf="verAgregarProyecto">
    <div class = "form-control">
        <label for="text">Nombre del Proyecto</label>
        <input type="text" name="text" id="text" formControlName="nombre">
    </div>
    <div class = "form-control">
        <label for="text">Fecha de realización</label>
        <input type="text" name="day" id="day" formControlName="fecha">
    </div>
    <div class = "form-control">
        <label for="text">Descripción</label>
        <input type="text" name="day" id="day" formControlName="descripcion">
    </div>
    <div class = "form-control">
        <label for="text">URL</label>
        <input type="text" name="day" id="day" formControlName="url">
    </div>
    <div class = "form-control">
        <label for="text">URL Imagen</label>
        <input type="text" name="day" id="day" formControlName="urlImagen">
    </div>
    <div style="height: 20px;">
    <button type="submit">
        <fa-icon [icon]="faCheck"></fa-icon>
    </button>
    <button (click)="salirAgregarProyecto()">
        <fa-icon [icon]="faX"></fa-icon>
    </button>
</div>
</form>
<li *ngFor="let proyecto of datosProyectos; let indexOfelement=index;">
    <div class="item row"  *ngIf="editable() != indexOfelement">
        <div class="informacionproyectos">
            <div class="nombre row">
                <div class="nombre1 col">
                    <h3>{{proyecto.nombre}}</h3>
                </div>
                <div class="iconosedicion col" *ngIf="UsuarioLogueado()">
                    <button (click)="eliminarProyecto(proyecto.idProyecto)">
                        <fa-icon [icon]="faeliminar"></fa-icon>
                    </button>
                    <button  (click)="editarproyectoparticular(indexOfelement)">
                        <fa-icon [icon]="editIcon"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="nombre row">
                <h5>Año: {{proyecto.fecha}}</h5>
            </div>
            <div class="nombre row" style="padding-left: 10px;">{{proyecto.descripcion}}</div>
            <div class="nombre row"><a [href]="proyecto.url" target="_blank">{{proyecto.url}}</a></div>
        </div>
        
    </div>
    <div *ngIf="editable() == indexOfelement">
        <form class="edit-form" (ngSubmit)="EditarProyecto()" [formGroup]="formEditar">
            <div class = "form-control">
                <label for="text">Nombre del proyecto</label>
                <input type="text" name="text" id="text" formControlName="nombre">
            </div>
            <div class = "form-control">
                <label for="text">Fecha de realización</label>
                <input type="text" name="day" id="day" formControlName="fecha">
            </div>
            <div class = "form-control">
                <label for="text">Descripción</label>
                <input type="text" name="day" id="day" formControlName="descripcion">
            </div>
            <div class = "form-control">
                <label for="text">URL Proyecto</label>
                <input type="text" name="day" id="day" formControlName="url">
            </div>
            <div class = "form-control">
                <label for="text">URL Imagen</label>
                <input type="text" name="day" id="day" formControlName="urlImagen">
            </div>
            <div style="height: 35px;">
            <button type="submit">
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
            <button (click)="salirEdicionProyecto()">
                <fa-icon [icon]="faX"></fa-icon>
            </button>
        </div>
        </form>
    </div>
</li>
