.proyectos{
    height: 40px;
    align-items: center;
    background-color: rgb(189, 189, 236);
    border: 1px black solid;
    border-radius :10px ;
    padding-left: 2%;
}
.proyectos
.iconoeditar{
    float: right;
    margin-right: 2%;
    margin-top: 3px;
}

.item{
    min-height: 200px;
    border: 1px black solid;
    border-radius :10px ;
}

.informacionproyectos{
    float: right;
    height: 100%;
    width: 100%;
    padding-top: 2%;
    
}
.nombre{
    margin: 0% 1% 1% 1%;
}


button{
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}

label{
    min-width: 140px;
}
input{
width: 100%;
}