<div class="proyectos">
    <div style="float:left">
        <h2>Proyectos</h2>
    </div>
    <div class="iconoeditar" [ngStyle]="{'display': UsuarioLogueado() ? 'block' : 'none'}"><button>
            <fa-icon [icon]="agregarIcono"></fa-icon>
        </button>
    </div>
</div>
<li *ngFor="let proyecto of datosProyectos">
    <div class="item">
        <div class="informacionproyectos">
            <div class="nombre row">
                <div class="nombre1 col">
                    <h3>{{proyecto.nombre}}</h3>
                </div>
                <div class="iconosedicion col" [ngStyle]="{'display': UsuarioLogueado() ? 'block' : 'none'}">
                    <button>
                        <fa-icon [icon]="faeliminar"></fa-icon>
                    </button>
                    <button>
                        <fa-icon [icon]="editIcon"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="nombre row">
                <h5>Año: {{proyecto.fecha}}</h5>
            </div>
            <div class="nombre row">{{proyecto.descripcion}}</div>
        </div>
    </div>
</li>