#imagenprincipal{
    position: relative;
}

#imagenprincipal
img{
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 20px;
}

#imagenprincipal
.iconoeditar{
    position: absolute;
    top: 3%;
    right: 3%;
}

#fotoperfil{
    position: relative;
    margin-top: -10%;
    display: flex;
}
#imagenyboton{
    position: relative;
    min-width: 100px;
    height: auto;
    width: 20%;
    max-width: 150px;
    margin-left: 4%;
}
#fotoperfil
img{
    width: 100%;
    border-radius: 100%;
}

#fotoperfil
.iconoeditar{
    position: relative;
    text-align: center;
    background-color: darkmagenta;
    margin-top: -60%;
}

.edit{
    width: 70%;
    display: flex;
    align-items: center;
}
.informacion{
    margin: 8% 2% 2% 2%;
}

.boton{
    border-radius: 200px;
}