<div id="imagenprincipal">
    <img [src]="datospersona?.urlImagenPortada" alt="Bienvenidos" />
    <div class="iconoeditar" [ngStyle]="{'display': UsuarioLogueado() ? 'block' : 'none'}"><button>
            <fa-icon [icon]="faCoffee"></fa-icon>
        </button>
    </div>
</div>
<div id="fotoperfil">
    <img [src]="datospersona?.urlImagenPerfil" />
    <div class="iconoeditar" [ngStyle]="{'display': UsuarioLogueado() ? 'block' : 'none'}">
        <button>
            <fa-icon [icon]="faCoffee"></fa-icon>
        </button>
    </div>
</div>
<div class="informacion">
    <div class="row">
        <div class="col" style="background-color: blue;">
            <h2>{{datospersona?.nombre}}</h2>
            <div class="iconoeditar" style="float: inline-end; size: 10%;"
                [ngStyle]="{'display': UsuarioLogueado() ? 'block' : 'none'}">
                <button>
                    <fa-icon [icon]="faCoffee"></fa-icon>
                </button>
            </div>
            <div>
                <h4>Web Full Stack Jr.</h4>
                <h4>Santa Fe, Argentina</h4>
            </div>
        </div>

        <div class="col" style="background-color: pink;">
            <h5>{{datospersona?.acercade}}</h5>
            <div class="iconoeditar" style="font-size: 12px;"
                [ngStyle]="{'display': UsuarioLogueado() ? 'block' : 'none'}">
                <button>
                    <fa-icon [icon]="faCoffee"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="boton">
    <button (click)="contacto()">Contactar</button>
</div>