<div id="fotoperfil">
    <div id="imagenyboton">
        <img [src]="datospersona?.urlImagenPerfil" />
        <div class="iconoeditar" *ngIf="UsuarioLogueado() && !editarImagenPerfil" (click)="HabilitarEdicionImagenPerfil()">
            <button>
                <fa-icon [icon]="faPen"></fa-icon>
            </button>
        </div>
    </div>
    <div class="edit"  style="display: flex ; width: 100%;">
        <form class="add-form" (ngSubmit)="EditarImagenPerfil()" *ngIf="editarImagenPerfil" style="display: flex ; width: 100%;">
            <div class="form-control" style="display: flex ; width: 100%;">
                <label style="width: 140px" for="text">Agregar link:</label>
                <input style="width: 100%;" type="text" name="text" id="campoeditable" [formControl]="campoEditablePerfil">
                <button type="submit">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
                <button (click)="salirEdicionImagenPerfil()">
                    <fa-icon [icon]="faX"></fa-icon>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="informacion">
    <div class="row">
        <div class="col">
            <div *ngIf="!editarNombre">
                <h2>{{datospersona?.nombre}}</h2>
                <div class="iconoeditar" style="float: inline-end; size: 10%;" *ngIf="UsuarioLogueado()">
                    <button (click)="HabilitarEdicionNombre()">
                        <fa-icon [icon]="faPen"></fa-icon>
                    </button>
                </div>
                <div>
                    <h4>Web Full Stack Jr.</h4> 
                    <h4>Santa Fe, Argentina</h4>
                </div>
            </div>
            <div *ngIf="editarNombre">
                <h2><input type="text" name="text" id="campoeditable" [formControl]="campoEditableNombre"></h2>
                <button (click)="EditarNombre()">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
                <button (click)="SalirEdicionNombre()">
                    <fa-icon [icon]="faX"></fa-icon>
                </button>
                <div>
                    <h4>Web Full Stack Jr.</h4>
                    <h4>Santa Fe, Argentina</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div *ngIf="!editarAcercaDe">
                <h5>{{datospersona?.acercade}}</h5>
                <div class="iconoeditar" style="font-size: 12px;" *ngIf="UsuarioLogueado()">
                    <button  (click)="HabilitarEdicionAcercaDe()">
                        <fa-icon [icon]="faPen"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="edicionacercade" *ngIf="editarAcercaDe">
                <textarea class="span6" style="height: 90%; width:100%; resize: none;" [formControl]="campoEditableAcercaDe" required></textarea>
                <button (click)="GuardarAcercaDe()">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
                <button (click)="SalirEdicionAcercaDe()">
                    <fa-icon [icon]="faX"></fa-icon>
                </button>
        </div>
    </div>
</div>
<div *ngIf="false" class="botonContacto">
    <button (click)="contacto()">Contactar</button>
</div>