#imagenprincipal{
    position: relative;
}

#imagenprincipal
img{
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 20px;
}

#imagenprincipal
.iconoeditar{
    position: absolute;
    top: 3%;
    right: 3%;
}

#fotoperfil{
    position: relative;
    min-width: 100px;
    height: auto;
    width: 20%;
    max-width: 150px;

    margin-left: 4%;

}
#fotoperfil
img{
    width: 100%;
    border-radius: 100%;
    margin-top: -60%;
}

#fotoperfil
.iconoeditar{
    position: relative;
    margin-top: -60%;
    text-align: center;
    background-color: darkmagenta;

}

.informacion{
    margin: 8% 2% 2% 2%;
}

.boton{
    border-radius: 200px;
}