.fotoperfil{
    height: 1px;
}
.fotoperfil
img{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    top: -60px;
    margin-left: 10px;
}
.informacion{
    margin: 40px 20px 20px 20px;
    columns: 2;
}
#imagenprincipal
img{
    width: 100%;
    height: 300px;
}
#imagenprincipal{
    position: relative;
}

.iconoeditar{
    position: absolute; left: 94%; top: 1%;
    margin-top: 3%;
    margin-right: 10%;
    float: right;
}

fa-icon{
    color: rgb(60, 36, 127);
}