.experiencia{
    height: 40px;
    align-items: center;
    background-color: rgb(189, 189, 236);
    border: 1px black solid;
    border-radius :10px ;
    padding-left: 2%;
}
.experiencia
.iconoeditar{
float: right;
margin-right: 2%;
margin-top: 3px;
}

.item{
    min-height: 200px;
    border: 1px black solid;
    border-radius :10px ;
}

.urlimagen
{
    display: flex;
    min-height: 200px;
    max-width: 500px;
    width: 30%;
    align-items: center;

}

.urlimagen
img{
    width: 500px;
    max-width: 90%;
    max-height: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
.informacionexperiencia{
    min-height: 200px;
    position: relative;
    float: right;
    height: 100%;
    width: 70%;
    padding-top: 2%;
    
    
}
.contenido{
    margin: 0% 1% 1% 2%;
}

.nombre{
    float: left;
    width: 77%;
}
button{
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}

label{
    min-width: 140px;
}
input{
width: 100%;
}

.descripcion{
    text-align: justify;
}
