<div class="habilidades">
    <div style="float:left">
        <h2>Habilidades</h2>
    </div>
    <div class="iconoeditar" *ngIf="UsuarioLogueado()"><button>
            <fa-icon [icon]="agregarIcono"></fa-icon>
        </button>
    </div>
</div>
<div *ngFor="let skill of datosskills">
    <div class="habilidad row">
        <p class="p">{{skill.skill}}</p>
        <div class="barra">
            <progress class="skills_barra" max="100" value={{skill.nivel}}></progress>
            <div class="porcentaje">{{skill.nivel}}%</div>
        </div>
        <div class="iconosedicion" *ngIf="UsuarioLogueado()">
            <button>
                <fa-icon [icon]="faeliminar"></fa-icon>
            </button>
            <button>
                <fa-icon [icon]="editIcon"></fa-icon>
            </button>
        </div>
    </div>
</div>