<div class="habilidades">
    <div style="float:left">
        <h2>Habilidades</h2>
    </div>
    <div class="iconoeditar" *ngIf="UsuarioLogueado() && !verAgregarSkill">
        <button (click)="VerAgregarSkill()">
            <fa-icon [icon]="agregarIcono"></fa-icon>
        </button>
    </div>
</div>
<form class="add-form" [formGroup]="formNuevo" (ngSubmit)="AgregarSkill()" *ngIf="verAgregarSkill">
    <div class = "form-control">
        <label for="text">Skill</label>
        <input type="text" name="text" id="text"  formControlName="skill">
    </div>
    <div class = "form-control">
        <label for="text">Nivel (1-100)</label>
        <input type="text" name="day" id="day"  formControlName="nivel">
    </div>
    <div style="height: 20px;">
    <button type="submit">
        <fa-icon [icon]="faCheck"></fa-icon>
    </button>
    <button (click)="salirAgregarSkill()">
        <fa-icon [icon]="faX"></fa-icon>
    </button>
</div>
</form>
<div *ngFor="let skill of datosskills">
    <div class="habilidad row" *ngIf="editable() != skill.idSkill">
        <p class="p">{{skill.skill}}</p>
        <div class="barra">
            <progress class="skills_barra" max="100" value={{skill.nivel}}></progress>
            <div class="porcentaje">{{skill.nivel}}%</div>
        </div>
        <div class="iconosedicion" *ngIf="UsuarioLogueado()">
            <button (click)="EliminarSkill(skill.idSkill)">
                <fa-icon [icon]="faeliminar"></fa-icon>
            </button>
            <button (click)="editarskillparticular(skill.idSkill)">
                <fa-icon [icon]="editIcon"></fa-icon>
            </button>
        </div>
    </div>
    <div *ngIf="editable() == skill.idSkill">
        <form class="edit-form" [formGroup]="formEditar" (ngSubmit)="EditarSkill()">
            <div class = "form-control">
                <label for="text">Skill</label>
                <input type="text" name="text" id="text" formControlName="skill">
            </div>
            <div class = "form-control">
                <label for="text">Nivel (1-100)</label>
                <input type="text" name="day" id="day" formControlName="nivel">
            </div>
            <div style="height: 35px;">
            <button type="submit">
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
            <button (click)="salirEdicionSkill()">
                <fa-icon [icon]="faX"></fa-icon>
            </button>
        </div>
        </form>
    </div>
</div>