.parte_superior_header{
    height: 50px;
    background-color: blue;
    margin-bottom: 10px;
}
.parte_superior_header
img{
    margin: 5px 5px 5px 5px;
    height:40px
}

.parte_superior_header
.AP
img{
height: 60px;
margin-top: -5px;
}
