.parte_superior_header{
    height: 50px;
}
.parte_superior_header
img{
    margin: 5px 5px 5px 5px;
    height:40px
}
#imagenprincipal
img{
    width: 100%;
    height: 250px
}

.fotoperfil{
    height: 1px;
}
.fotoperfil
img{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    top: -60px;
    margin-left: 10px;
}
.informacion{
    margin: 40px 20px 20px 20px;
    columns: 2;
}